@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/slkscr.ttf");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

body {
  font-family: "Silkscreen", serif;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: white;
}


p {
    text-align: center;
    font-size: 24px;
}

#game-container {
  background-image: url("./images/rps-background.png");
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  width: 1400px;
  height: 1000px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#game-text {
  margin: 100px 0;
}

#typed-text {
  font-size: 32px;
  color: white;
}

#keyboard-cursor {
    animation: blink 1s infinite;
    font-size: 32px;
}

#play-btn,
#no-btn {
  height: 90px;
  width: 110px;
  border: none;
  cursor: pointer;
  margin-top: 150px;
}

#play-btn {
  background: url(./images/okBtn.png);
  margin-right: 150px;
  animation: fadeIn 2s, shake 0.5s 2s infinite;
}

#no-btn {
  background: url(./images/noBtn.png);
  margin-left: 150px;
  animation: fadeIn 2s;
}

#fine-btn {
  background: url(./images/fine-btn.png);
  height: 70px;
  width: 330px;
  border: none;
  cursor: pointer;
  margin-top: 150px;
  animation: fadeIn 2s;
}

#button-container {
  margin-right: 16px;
}

#rock-btn {
  background: url(./images/rock.png);
}

#paper-btn {
  background: url(./images/paper.png);
}

#scissor-btn {
  background: url(./images/scissors.png);
}

#rock-btn,
#paper-btn,
#scissor-btn {
  height: 150px;
  width: 160px;
  gap: 8px;
  margin: 0 16px;
  border: none;
  cursor: pointer;
  animation: fadeIn 2s;
}

#rock-btn:focus,
#paper-btn:focus,
#scissor-btn:focus {
  background-color: #272727;
  border: solid 1px white;
}

#rock-btn:hover,
#paper-btn:hover,
#scissor-btn:hover {
  background-color: #272727;
}

#score-text {
    font-size: 28px;
    display: flex;
    gap: 100px;
    margin-top: 100px;
    animation: fadeIn 3s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

#winner-text {
  font-size: 48px;
  animation: fadeIn 2s;
}